{% extends 'base.html' %}

{% block body-id %}page--donate{% endblock %}

{% block content %}
<!-- <div class="bg-stars-background" data-0="background-position:0px 0px;" data-end="background-position:0px -800px;"></div> -->
{# <div class="bg-stars-midground" data-0="background-position:0px 0px;" data-end="background-position:0px -1400px;"></div> #}
{# <div class="bg-stars-foreground" data-0="background-position:0px 0px;" data-end="background-position:0px -2000px;"></div> #}

<section class="section--newsletter section--form--centered">
    <h1>Get The Newsletter</h1>
    <div class="section--content">
        <p>Fill out the form below to get updates from The Three Astronauts!</p>
        <div class="email-signup-form">
              <script type="text/JavaScript" src="//app.etapestry.com/hosted/eTapestry.com/etapEmbedResponsiveResizing.js
"></script><iframe id="etapIframe" style="border:none;width:100%;" src="https://app.etapestry.com/onlineforms/ArdeaArtsInc/signup.html"></iframe>
        </div>
    </div>
</section>

{% endblock %}