{% extends 'base.html' %}

{% block body-id %}page--team{% endblock %}

{% block content %}
<!-- <div class="bg-stars-background" data-0="background-position:0px 0px;" data-end="background-position:0px -800px;"></div> -->
{# <div class="bg-stars-midground" data-0="background-position:0px 0px;" data-end="background-position:0px -1400px;"></div> #}
{# <div class="bg-stars-foreground" data-0="background-position:0px 0px;" data-end="background-position:0px -2000px;"></div> #}

<section class="section--hero">
    <a href="http://ardeaarts.com" class="ardea-flare" target="_blank"><img src="{{ STATIC_URL}}images/ardea-flare.png"/></a>
    <article class="section--content">
        <p>Ardea Arts is an incubator of new-wave, 21st century opera, committed to making and performing innovative works which challenge as well as entertain, speak to our diverse global community, &amp; champion the human spirit. We work with artists who will engage audiences of all ages and from many walks of life, partnering with organizations able to reach out to these communities both within and far outside the walls of the opera house.</p>
        <p>The Three Astronauts addresses all of these commitments central to our mission, bringing together artists and audiences from around the globe into a dialogue to further cooperation and collaboration across our boundaries, our differences, and our expectations.</p>
        <p class="center">Please visit Ardea Arts at <a href="http://www.ardeaarts.com">ArdeaArts.com</a>.</p>
    </article>
</section>

<section class="section--team--profiles">
    
    <h1>Meet Our Team</h1>
    
    
    <h2 id="authors">Authors</h2>
    <article id="umberto" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/umberto.jpg"/>
        <h3>Umberto Eco</h3>
        <div class="article--profile--title">Author</div>
        <p>One of the most prolific and important writers of our time, Eco has traveled the world lecturing on the untranslatability of languages. His novels include <em>The Name of the Rose</em>, <em>Foucault&rsquo;s Pendulum</em>, <em>The Island of the Day Before</em>, <em>The Mysterious Flame of Queen Loana</em>, <em>Baudolino</em>, and current worldwide bestseller <em>The Prague Cemetery</em>. Nonfiction works include <em>Travels in Hyperreality</em>, <em>History of Beauty</em>, <em>Belief or Nonbelief?</em>, and <em>Theory of Semiotics</em>. He teaches at the University of Bologna.</p>
    </article>
    <article id="eugenio" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/eugenio-2.jpg"/>
        <h3>Eugenio Carmi</h3>
        <div class="article--profile--title">Artist &#8211; Visual Concept</div>
        <p>Known as one of the most quietly significant forces in twentieth-century Italian art, Carmi was born in Genoa in 1920. He created Italsider&#8217;s corporate image in the 1960&#8217;s, has participated in the Venice Bienniale, and created experimental visual programs for RAI-TV. In 2015, &#8216;Palazzo Ducale Fondazione per la Cultura&#8217; presents a retrospective of his work <em>Speed Limit 40</em> in Genoa, Italy. A bellwether of Italian taste, he may be most beloved for his collages in a series of picture books created in collaboration with friend and author Umberto Eco, one of which is the inspiration for this opera, <em>The Three Astronauts</em>.</p>
    </article>
    

    <h2 id="concept">Concept &amp; Direction</h2>
    <article id="grethe" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/grethe.jpg"/>
        <h3>Grethe Barrett Holby</h3>
        <div class="article--profile--title">Founding Executive Artistic Director, Ardea Arts</div>
        <p><em>Propelling opera into the 21st century</em> (NPR), Holby has directed, choreographed, performed, &amp; collaborated on world premieres at The Kennedy Center, Lincoln Center Festival, Houston Grand Opera, La Scala (Milan), The Kitchen, and for opera companies from Anchorage to Boston, Los Angeles to Washington D.C. She performed in major opera houses across Europe, and the Metropolitan Opera House, and has collaborated with legendary artists as diverse as Leonard Bernstein, Lou Reed, and Yusef Komunyakaa. A Rockefeller Followship recipient, she holds B.S. and Master degrees from MIT, and was invited to the MSL launch at KSC in 2011.</p>
    </article>
    
    
    <h2 id="china">Team China</h2>
    <article id="ye" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/ye.jpg"/>
        <h3>Ye Xiaogang</h3>
        <div class="article--profile--title">Composer &#8211; China</div>
        <p>Regarded as one of the most influential composers in China, Ye&#8217;s piano concerto <em>Starry Sky</em> premiered at the opening ceremony of the Olympic Games in Beijing in 2008 by Lang Lang and was watched by three billion people worldwide. Ye is a standing member of the Chinese People&#8217;s Political Consultative Conference, vice chairman of China&#8217;s Musicians&#8217; Association, vice president and professor of composition of the Central Conservatory of Music, and artistic director of Beijing Modern Music Festival. His <em>Twilight of the Himalayas</em> premiered earlier this year at Avery Fisher Hall with the Detroit Symphony.</p>
    </article>
    <article id="liu" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/liu.jpg"/>
        <h3>Liu Sola</h3>
        <div class="article--profile--title">Writer for the Chinese Taikonaut</div>
        <p>Award-winning Chinese author of fiction, short stories, and essays including <em>You Have No Choice</em> (1985), <em>Small Tales of the Great Ji Family</em> (2000), and <em>Chaos and All That</em>, Sola Liu is also an iconoclastic composer and vocalist. Librettist of operas <em>Fantasy of the Red Queen</em> (2006) and <em>The Afterlife of Li Jiantong</em> (2009), she has collaborated with <em>Three Astronauts</em> composer Ye Xiaogang many times. She has scored many Chinese and international film sound tracks, as well as TV and drama productions and composed music for orchestra, ensemble, opera, modern theater, modern dance, and art exhibitions.</p>
    </article>
    
    
    <h2 id="russia">Team Russia</h2>
    <article id="alexander" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/alex.jpg"/>
        <h3>Alexander Tchaykovskiy</h3>
        <div class="article--profile--title">Composer &#8211; Russia</div>
        <p>Heralded as the &#8216;Beloved People&#8217;s Artist of Russia and the Russian Federation&#8217; and &#8216;Artist of Merit&#8217; Winner is composer, he is the director of the Saint Petersburg Conservatoire, the Moscow Academic Philharmonic, and the Youth Academy of Russia festival. His music is widely performed at international festivals and concert halls. In addition to his symphonies, oratorios, ballets and choral works, he has composed over eight operas including the extraordinary <em>One Day in the Life of Ivan Denisovich,</em> based on Solzhenitsin&rsquo;s novel. His oeuvre also spans popular songs and music for television and movies.</p>
    </article>
    <article id="dmitry" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/dmitry.jpg"/>
        <h3>Dmitry Glukhovsky</h3>
        <div class="article--profile--title">Writer for the Russian Cosmonaut</div>
        <p>Dmitry is known for his publications involving science fiction, magic-realism, and the exploration of social and political structures.  His first novel, <em>Metro 2033</em> (2002), became an online interactive experiment and video game, and best seller around the world. In 2009, <em>Metro 2034</em> became the year&#8217;s top Russian bestseller, and also a collaborative art project with electronic and visual artists. 2010 saw the satirical <em>Stories about Motherland</em>, and 2014 rolled out <em>Future:Roman</em>. Glukhovsky is also a journalist for <em>EuroNews TV</em>, <em>Deutsche Welle</em>, <em>RT</em>, <em>Harper&#8217;s Bazaar</em>, and <em>l&#8217;Officiel</em>.</p>
    </article>
    
    
    <h2 id="usa">Team U.S.A.</h2>
    <article id="yusef" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/yusef.jpg"/>
        <h3>Yusef Komunyakaa</h3>
        <div class="article--profile--title">Writer for the American Astronaut</div>
        <p>Pulitzer Prize winning poet, author of 17 books of poetry, and winner of the William Faulkner Prize, the Poetry Society of America&#8217;s Shelley Memorial Award, and the 20ll Wallace Stevens Award, among others, Komunyakaa&#8217;s plays, performance art and libretti have been performed internationally and include <em>Slipnot</em>, <em>Saturnalia</em>, <em>Gilgamesh: a Verse Play</em> (with Chad Garcia), and the jazz opera <em>Testimony, A Tribute to Charlie Parker</em>. A Vietnam veteran, he has held professorships at Princeton University, and currently in the Graduate Creative Writing Program at New York University.</p>
    </article>
    <article id="tba" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/team-helmet.png"/>
        <h3>TBA</h3>
        <div class="article--profile--title">Composer &#8211; United States of America</div>
        <p class="center">To be announced...</p>
    </article>
    
    
    <h2 id="mars">Team Mars</h2>
    <article id="daniel" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/daniel.jpg"/>
        <h3>Daniel L. Everett</h3>
        <div class="article--profile--title">Writer, Linguist, Anthropologist &#8211; Mars</em></div>
        <p>One of the only people in the world who has contacted previously un-contacted groups with no language in common, he is an anthropologist, field linguist, and Dean of Arts &amp; Sciences at Bentley University. Everett has over 40 years of experience working with more than 25 undocumented languages of North and South America. His 2008 book, <em>Don&#8217;t Sleep There Are Snakes</em> was published in six languages, and his 2012, book <em>Language: The Cultural Tool</em> has redefined linguistic assumptions.</p>
    </article>
    
    
    <h2 id="production">Production Team</h2>
    <article id="john" class="article--profile">
        <img src="{{ STATIC_URL }}images/team/john.jpg"/>
        <h3>John Kennedy</h3>
        <div class="article--profile--title">Project Music Director</em></div>
        <p>Resident Conductor and Director of Orchestral Activities for Spoleto Festival USA, Kennedy is noted for illuminating, expressive performances of contemporary music and opera, Kennedy presented premiere productions of <em>Matsukaze</em> (Toshio Hosokawa), <em>Kepler</em> (Philip Glass), and <em>Faustus, the Last Night</em> (Pascal Dusapin), in 2014, Michael Nyman&#8217;s Facing Goya at Spoleto as well as at the Singapore International Festival of Arts. With organizations ranging from the Lincoln Center Festival to New York City Ballet, Kennedy has led noted performances of orchestral, opera, ballet, and new music.</p>
    </article>
    
    
    <h2 id="childrens-chorus">Children&#8217;s Chorus Lyrics</h2>
    <article class="article--profile">
        <img src="{{ STATIC_URL }}images/team/umberto.jpg"/>
        <h3>Umberto Eco</h3>
        <div class="article--profile--title">Chorus Lyrics</div>
        <p class="center"><a href="#umberto">See bio above</a>.</p>
    </article>
    <article class="article--profile">
        <img src="{{ STATIC_URL }}images/team/nikki.jpg"/>
        <h3>Nikki Giovanni</h3>
        <div class="article--profile--title">Chorus Lyrics</em></div>
        <p>A world-renowned poet, writer, commentator, activist, and educator, Giovanni is committed to the fight for civil rights and equality. Currently distinguished professor of English Professor at Virginia Tech, she is the author of over 30 books for both adults and children, including <em>Quilting the Black-Eyed Pea</em> and <em>Hip Hop Speaks to Children: A Celebration of Poetry with a Beat.</em> A recipient of twenty-five honorary degrees, her awards include the Langston Hughes Medal for poetry.</p>
    </article>
    
    
    <h2 id="consultants">Consultants</h2>
    <ul class="article--team--list">
        <li>Laurence Bergreen &#8211; <em>Author: Voyage to Mars: NASA&#8217;s search for Life Beyond Earth</em></li>
        <li>Joan Horvath &#8211; <em>Planetary Spacecraft; National University, science literacy</em></li>
        <li>Aaron Lewis &#8211; <em>Senior Director &amp; Space Technologies Expert at Paris based Arianespace</em></li>
        <li>Neal L. Singh &#8211; <em>Sloan Foundation award winning science teacher, LaGuardia Arts HS, NYC</em></li>
        <li>Andrea Fellows Walters &#8211; <em>Director Education &amp; Community Programs, Santa Fe Opera</em></li>
    </ul>
    
</section>

{% endblock %}